.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg__circle{
    width: 624px;
    height: 624px;
    border-radius: 999em;
    border: 1px rgba(194, 173, 173, 0.3) solid;
    top: 112px;
    float: left;
    position: absolute;
}

.c_1{left: -20%;}
.c_2{left: 0%;}
.c_3{left: 20%;}
.c_4{left: 40%;}
.c_5{left: 60%;}
.c_6{left: 80%;}



/*-------------------------*/
/* $ NAVBAR
---------------------------*/
/*  index */
.nav__btn{
    font-size: 36px;
    padding: 1em 1em;
    line-height: 32px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav__btn_text{
    font-size: 12px;
    text-transform:uppercase;
}
.nav__btn_c{
    padding-left: 4px;
}
.social_nar a{
    font-size: 18px;
    opacity: 0.5;
    bottom: 0;
}
.nav__btn:hover{
    color: #4C4C4C;
    letter-spacing: 0.2px;
}
/* about */

.nav__text{
    font-size: 36px;
    padding: 1em 1em;
    line-height: 32px;
}
.nav_s_btn{
    font-size: 18px;
    padding: 2em 1em;
}

/*-------------------------*/
/* $ MAIN
---------------------------*/

.main_box{ margin-top: 28vh;}
.social_nav{ margin-top: 50vh;}

.main_heading{line-height: 120px;}
.main_content, .social_nav_btn{line-height: 40px;}

.main_heading ,.main_content{
    left: 35%;
    letter-spacing: 1px;

}

.social_nav_btn{
    left: 40%;
    padding: 16px;
    letter-spacing: 1px;
    color: rgba(82, 108, 185, 0.5);
    transition: all 0.3s ease-in-out;
}
.social_nav_btn:hover{
    color: rgba(82, 108, 185, 1);
}


.social_btn{
    padding-right: 64px;
}

.social_nav_btn{
    cursor: pointer;
}    




.circle{
    width: 50px;
    height: 50px;
    border-radius: 999em;
    position: absolute;
}

.m_c_green{

    top: 10%;
    left: 39%;
}

.m_c_red{
    top: 30%;
    left: 52%;
}

.m_c_yellow{
    top: 60%;
    left: 29%;
}
.m_c_blue{
    top: 35%;
    left: -25px;
    cursor: pointer;
}
.m_c_white{
    top: 35%;
    right: -25px;
    cursor: pointer;
}


/*-------------------------*/
/* $ WORK
---------------------------*/


.work{
    margin-top: 40px;
    padding: 10vh 0;

}
.work_row{
    margin: 32px auto;
    color: rgba(77, 77, 77);
    float: left;
}
.page_header, .work_sort, .work_header, .work_number, .contact_header{
    font-weight: 400;
    font-style: italic;}

.page_header{
    text-align: center;
}
    

.work_sort{
    text-align: left;
    line-height: 24px;
    margin-bottom: 8px;
}


.work_line{
    width: 200px;
    margin: 4px 16px;
    border: 0.1px rgba(77, 77, 77, 0.6) solid;

}
.work_number{
    font-size: 14px;
}
.work_header{
    font-family: 'Source Serif Pro', 'Time New Roman' !important;
    font-size: 32px;
    position: absolute;
    text-align: left;
}
.work_img{
    background-position: center center;
    background-size: cover;
    background-blend-mode: lighten;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.work_img:hover{
    transform: scale(1.02);
    background-color: rgba(255,255,255,0);
}

/*  01 Chick and egg */
.work_img_chick{
    height: 300px;
    width: 450px;
    background-color: rgba(255,255,255,0.3);
    background-image: url(../image/md_work_chick.jpg);
}

.work_header_chick{
    bottom: 10%;
    left: 30%;
}

/* 02 Bio oil */
.work_img_bio{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.3);
    background-image: url(../image/md_work_bio_oil.jpg);
}
.work_header_bio{
    top: 20%;
    right: 34%;
}

/* 03 Fruity Say */
.work_img_fruity{
    height: 400px;
    width: 600px;
    background-color: rgba(255,255,255,0.1);
    background-image: url(../image/md_work_fruity_say.jpg);
}
.work_header_fruity{
    bottom: 20%;
    left: 50%;
}

/* 04 Sait */
.work_img_sait{
    height: 540px;
    width: 360px;
    background-color: rgba(255,255,255,0.3);
    background-image: url(../image/md_work_sait_1.jpg);
}
.work_header_sait{
    bottom: 20%;
    right: 40%;
}

/* 03 Fruity Say */
.work_img_goolu{
    height: 300px;
    width: 450px;
    background-color: rgba(255,255,255,0.5);
    background-image: url(../image/md_work_goolu.jpg);
}
.work_header_goolu{
    bottom: 10%;
    left: 38%;
}

.sort_sait, .work_img_sait{margin-right: 100px;}

/*-------------------------*/
/* $ CONTACT
---------------------------*/

.contact{
    padding: 13vh 0;
}

.contact > .bg__circle{

    border: 1px rgba(228, 217, 205, 0.3) solid;
}

.contact_header{
    text-transform:uppercase;
}


.contact_btn{
    font-family: 'Source Serif Pro', 'Time New Roman' !important;
    font-size: 50px;
    line-height: 20vh;
    transition: all 0.5s ease-in-out;
    cursor: pointer
 
}

.contact_btn:hover{
    color: #526CB9;
}
.contact_social{
    padding-right: 5%;
}




.toTop{width: 64px;}


.c_c_green{
    top: 20%;
    right: 14%;
}

.c_c_yellow{
    bottom: 10%;
    right: 54%;
}

#toTop{
    cursor: pointer;
}

/*-------------------------*/
/* $ ABOUT
---------------------------*/


.main_about{
    margin: 30vh 0;
}

.about_me{
    margin: 0 28px;

}

.my_gif > img{
    width: 80%;

}

.about_header{

    line-height: 90px;
}
.about_content{
    line-height: 24px;
}

/* wave_btn */

.wave_btn{
    margin-top: 40px;
    margin-right: 20px;
    color: #526CB9;
    border: 1px #526CB9 solid;
    border-radius: 999em;
    line-height: 20px;
    padding: 15px 50px;
    overflow: hidden;
    cursor: pointer;

}

.wave_btn::before{
    content: "";
    width: 320px;
    height: 320px;
    position: absolute;
    background-color: rgba(82, 108, 185, 0.5);
    border-radius: 130px;
    top: 70%;
    right: 50%;
    transform: translateX(50%);

    animation:  wave 5s infinite linear;
    transition: all 1s;
}

@keyframes wave{
    0%{
        transform: translateX(50%) rotate(0deg);
    }
    100%{
        transform: translateX(50%) rotate(360deg);
    }
}

.wave_btn:hover::before{
    top: 20%;
}


.skill{
    margin-top: 50px;
    padding: 10vh 0;
}

.skill_icon{
    width: 5vw;
    margin: 30px;
}
.icon_v{ margin: 18px 30px;}
.icon_p{ margin: 12px 30px;}

.skill_row{
    vertical-align: top;
    margin: 56px;

}
.skill_row_1{
    margin-top: 12vh;
}


.skill_header{
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
}

.tool{
    margin-right: 8px;
}